*, *:before, *:after{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Times New Roman", sans-serif;
}

html{
    font-size: 10px;
}

body{
    padding: 2rem;
}

a{
    color: blue;
    text-decoration: underline;
}

a, p{
    font-size: 2rem;
}

h1{
    font-size: 4rem;
}

a:hover{
    color: rgb(0, 255, 0);
}

#header{
    display: block;
    width: 100%;
    margin-bottom: 6rem;
    color: blue;
}

#grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}

.thumbnail-wrapper{
    height: 0;
    width: 100%;
    position: relative;
    padding-top: 100%;
    border: 3px solid rgb(0, 255, 0);
}

.product-thumbnail{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    display: block;
}

.product-thumbnail-hover{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
}

#coming-soon{
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    pointer-events: none;
}

#coming-soon h1{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 14rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
}

@media screen and (max-width: 768px){
    #grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px){
    #grid{
        grid-template-columns: 1fr;
    }
}
